# Python-related
_pycache_/
*.py[cod]
*.pyo
*.pyd

# Django-related
db.sqlite3
media/
*.log

# Environment variables
.env
.env.*

# macOS
.DS_Store

# virtualenv
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp

# Static and uploaded files
staticfiles/
node_modules/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/