<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/" class="active">Home 🏠</a> |
        <a href="/about">About Us 😃</a> |
        <a href="/recommendation">Book Recommendation 📚</a> |
        <a href="/visualization"> Visualization 📊</a>  
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>